section {
  height: calc(100vh - 110px /*header height*/);
  max-height: 1080px;
  background-color: var(--darkBlueBg);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 900px) {
    min-height: calc(100vh - 100px /*header height*/);
    margin-top: 100px !important;
  }

  @media screen and (max-width: 900px) and (orientation: landscape) {
    height: unset;
  }
}

.introduction {
  display: flex;
  align-items: center;
  gap: 32px;
  color: var(--copyLight);
  padding: 100px 100px 0 100px;
  background-image: url("../../assets/img/tb-tech-bg-jpeg.jpg");
  background-size: cover;

  @media screen and (max-width: 1400px) {
    padding: 50px 50px 0 50px;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    padding: 12px 12px 0 12px;
    gap: 32px;
    background-image: unset;
  }

  .intro-rotate {
    writing-mode: vertical-lr;
    rotate: 180deg;

    > span {
      font-size: 52px;
      line-height: 58px;
      padding-top: 5px;

      @media screen and (max-width: 1400px) {
        font-size: 44px;
        line-height: 50px;
        padding-top: 0;
        letter-spacing: 2px;
      }

      @media screen and (max-width: 1100px) {
        font-size: 38px;
        line-height: 41px;
        margin-top: -6px !important;
        letter-spacing: 2px;
      }

      @media screen and (max-width: 600px) {
        font-size: 23px;
        line-height: 30px;
        padding-top: 5px;
        margin-top: 0 !important;
      }
    }
  }

  .intro-rotate-DE {
    > span {
      font-size: 35px;
      line-height: normal;
      line-height: 40px;

      @media screen and (max-width: 1400px) {
        font-size: 28px;
        line-height: normal;
        padding-top: 5px;
        letter-spacing: 1.7px;
        margin-top: -5px !important;
      }

      @media screen and (max-width: 1100px) {
        font-size: 23px;
        padding-top: 0;
        margin-top: -5px !important;
      }

      @media screen and (max-width: 600px) {
        font-size: 16px;
        line-height: 16px;
        padding-top: 5px;
        letter-spacing: normal;
        margin-top: -5px !important;
      }
    }
  }

  .hero-wrapper {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;

    @media screen and (max-width: 900px) {
      gap: 36px;
    }

    > div {
      display: flex;
      align-items: center;
    }

    h1 {
      white-space: nowrap;
    }

    a {
      text-decoration: none;
      font-size: 23px;
      color: var(--copyLight);
      border-radius: 10px;
      background-color: var(--primaryColor);
      padding: 15px 30px;
      width: fit-content;
      cursor: pointer;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transition: all ease-in-out 300ms;
      transform-origin: top center;

      &:hover {
        background-color: var(--secondaryColor);
        color: var(--darkBlueBg);
        scale: 1.1;
      }
    }

    .intro-text-wrapper {
      span {
        font-size: 43px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: var(--secondaryColor);

        @media screen and (max-width: 1400px) {
          font-size: 36px;
          letter-spacing: normal;
        }

        @media screen and (max-width: 1100px) {
          font-size: 28px;
        }

        @media screen and (max-width: 600px) {
          font-size: 20px;
          letter-spacing: normal;
        }
      }
    }

    .intro-text-wrapper-DE {
      > span {
        letter-spacing: 1px;
      }
    }
  }

  .hero-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media screen and (max-width: 900px) {
      width: 100%;
      background-image: url("../../assets/img/tb-tech-bg-jpeg.jpg");
      background-size: cover;
    }

    .hero-img {
      height: 60vh;
      max-height: 800px;
      object-fit: cover;
      z-index: 1;

      @media screen and (max-width: 1200px) {
        height: 50vh;
      }

      @media screen and (max-width: 1100px) {
        height: 39vh;
      }

      @media screen and (max-width: 900px) {
        height: 38vh;
      }

      @media screen and (max-width: 900px) and (orientation: landscape) {
        width: 60%;
        height: unset;
      }
    }
  }
}

.socials {
  position: relative;
  display: flex;
  align-items: center;
  gap: 42px;
  z-index: 100;
  padding-left: 142px;
  padding-bottom: 32px;

  @media screen and (max-width: 900px) {
    justify-content: center;
    padding-left: 0;
    padding-top: 32px;
  }

  .socials-seperator {
    position: absolute;
    left: 0;
    width: 100px;
    border: 2px solid var(--secondaryColor);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    @media screen and (max-width: 900px) {
      left: -50px;
    }
  }

  .socials-mail {
    text-decoration: none;
    font-size: 23px;
    color: var(--copyLight);

    @media screen and (max-width: 700px) {
      display: none;
    }
  }
}

.scroll-down-wrapper {
  position: absolute;
  right: 100px;
  bottom: 32px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: var(--secondaryColor);

  span {
    writing-mode: vertical-rl;
    font-size: 23px;
  }

  @media screen and (max-width: 1250px) {
    right: 50px;
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.vector {
  position: absolute;

  left: -100px;
  width: 100vw;
  width: 100svw;
  bottom: -190px;
  height: 400px;

  z-index: 1;

  @media screen and (max-width: 1400px) {
    left: -50px;
  }

  @media screen and (max-width: 900px) {
    left: -12px;
    height: 140px;
    bottom: -70px;
  }
}
